@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dropdown {
  position: relative;
  &__label {
    border: $divider-line;
    right: 0%;
    top: 4.3rem;
    position: absolute;
    z-index: 1000;
    background-color: $primary-background-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__avatar {
    width: 5rem;
    cursor: pointer;
  }

  &__list {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__navigate {
    text-decoration: none;
  }

  &__item {
    list-style-type: none;
    color: $primary-text-color;
    font-size: 0.7rem;
    padding: 1rem;
    width: 7rem;

    &--bottom {
      border-bottom: $divider-line;
    }

    &--top {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:hover {
      @include background;
    }
  }
}
