@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background-color: $primary-background-color;
  margin-top: 1rem;

  @include desktop {
    border: $divider-line;
    border-left: none;
    width: 100%;
    padding-top: 2rem;
    margin-top: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__wrapper {
    position: relative;
  }
  &__card {
    padding: 2rem 1.5rem;
    border: $divider-line;
    border-radius: 20px;
    @include background;

    margin-bottom: 1rem;
    @include tablet {
      padding: 2rem;
    }
    @include desktop {
      max-width: 50rem;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
  &__side {
    display: flex;
    justify-content: flex-end;
  }
  &__icon {
    height: 5rem;
    position: absolute;
    top: 40%;
    left: 30%;
    @include tablet {
      left: 40%;
    }
  }
  &__increment {
    display: flex;
  }
  &__like {
    width: 3rem;
    &--disabled {
      cursor: not-allowed;
    }
  }
  &__number {
    font-family: Arial, Helvetica, sans-serif;
  }
  &__play {
    border-radius: 20px;
    width: 100%;
    height: 28rem;
    object-fit: cover;
  }
  &__title {
    font-size: 1rem;
    text-transform: capitalize;
  }
  &__name {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $primary-accent-color;
  }
  &__text {
    display: flex;
    flex-direction: column;
    background-color: $primary-background-color;
    border: $divider-line;
    border-radius: $border-radius;
    margin-top: 1rem;
    padding-left: 1rem;
  }
}
