@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  padding: 2rem 1rem;
  border: $divider-line;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: $secondary-bg-color;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__side {
    display: flex;
    justify-content: flex-end;
  }

  &__increment {
    display: flex;
  }

  &__like {
    width: 3rem;
    &--disabled {
      cursor: not-allowed;
    }
  }

  &__number {
    font-size: 0.7rem;
    color: #cac4d0;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__description {
    font-size: 0.9rem;
    font-weight: 400;
    background-color: $secondary-background-color;
    padding: 1rem 0.2rem;
    border-radius: 4px;
    text-transform: capitalize;
    @include box-shadow;
  }

  &__name {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $primary-accent-color;
  }

  &__text {
    display: flex;
    flex-direction: column;
    background-color: $primary-background-color;
    border: $divider-line;
    border-radius: 4px;
    margin-top: 1rem;
    @include lr-padding(1, 1);
    @include box-shadow;
  }

  &__timestamp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__date {
    font-size: 0.7rem;
    font-weight: 400;
    padding-right: 1rem;
    color: $secondary-text-color;
  }

  &__avatar {
    width: 3rem;
  }

  &__profile {
    display: flex;
  }
}
