@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";

.modal {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 98% 2%;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-family: "Hagrid";
  cursor: pointer;
  color: $primary-text-color;
  @include background;
  @include tablet {
    background: $primary-background-color;
    border: $divider-line;
    border-radius: 10px;
    top: 20%;
    left: 20%;
    max-width: 60%;
    height: 40rem;
    @include desktop {
      width: 50%;
      top: 10%;
      left: 25%;
      height: 45rem;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      height: 8rem;
    }
  }
  &__container {
    @include desktop {
      padding: 5rem;
    }
  }
  &__title {
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: -1rem;

    @include tablet {
      font-size: 2rem;
      text-align: center;
      margin-right: 10rem;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  &__label {
    @include tb-padding(0.5, 0.5);
  }
  &__upload {
    @include primary-button;
    margin-top: 2rem;
  }
  &__input {
    @include text-field;
    color: #84358e;
  }
  &__button {
    margin-top: 1rem;
    @include primary-button;
  }
  &__navigate {
    color: $primary-text-color;
    padding: 1rem;
    @include tablet {
    }
  }
  &__top {
    display: flex;
    align-items: center;
    margin-top: -1rem;
  }
  &__icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__cancel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }
  &__exit {
    @include primary-button;
    width: 7rem;
    @include tablet {
      width: 50%;
    }
  }
  &__close {
    width: 2rem;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 41, 64, 0.7);
}

.trigger {
  margin-top: 6rem;
}
