@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.submit {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  @include tablet {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    @include tb-margin(2, 2);
  }
  &__upload {
    @include primary-button;
  }
  &__button {
    @include primary-button;
  }
}
