@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videos {
  background-color: $primary-background-color;
  margin-top: 1rem;
  @include desktop {
    border: $divider-line;
    border-left: none;
    width: 100%;
    padding-top: 2rem;
    margin-top: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
