@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.forms {
  padding-bottom: 0.5rem;

  @include tablet {
    padding-bottom: 1rem;
  }

  @include desktop {
    padding-right: 1rem;
  }

  &__comments {
    @include text-style(0.8, 1.5, 600);
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__avatar {
    margin: 1.8rem 1rem 0 0;
    @include tablet {
      margin: 1rem 0.5rem 0 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      gap: 1rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    @include text-style(0.8, 1, 600);
    margin: 0;
    color: $secondary-text-color;
    @include tablet {
      font-size: 0.8rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    @include tablet {
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__input {
    border-radius: $border-radius;
    padding: 0.5rem;
    font-family: "Avenir";
    width: 100%;
    height: auto;
    resize: none;
    outline: 0;
    color: #a27cf9;
    font-weight: 600;
    border: $divider-line;
    @include tablet {
      font-size: 1rem;
      height: 2.5rem;
      overflow-y: hidden;
    }

    &::placeholder {
      color: $primary-text-color;
      @include tablet {
        font-size: 1rem;
      }
    }
  }

  &__button {
    @include primary-button;
    margin-top: 1rem;
    @include tablet {
      width: 12rem;
      margin: 0;
    }
  }
}
