@font-face {
  font-family: "Poppins";
  src: url("../../assets/font/Poppins-Regular.ttf"), format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hagrid";
  src: url("../../assets/font/hagrid-font/Hagrid-Regular-trial.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
