@font-face {
  font-family: "Roobert";
  src: url("../../assets/font/roobert/RoobertRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roobert";
  src: url("../../assets/font/roobert/RoobertSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
