/* primary Colors */
$primary-text-color: #ffffff;
$primary-accent-color: #84358e;
$primary-background-color: #020912;

/* Secondary Colors */
$secondary-background-color: #8c52ff;
$divider-line: 2px solid #3b3b3b;
$border-radius: 20px;

/* responsiveness*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
