/* primary Colors */
$primary-text-color: #ffffff;
$primary-accent-color: #d0bcff;
$primary-background-color: #141218;
$secondary-bg-color: #1e1c23;

/* Secondary Colors */
$secondary-background-color: #896dd5;
$divider-line: #211f25;
$border-radius: 20px;

/* responsiveness*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
