@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.jobs {
  &__container {
    @include desktop {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin: 1rem;
    }
  }
}
.job {
  background-color: $secondary-bg-color;
  font-weight: 300;
  width: 100%;
  @include desktop {
    width: 40%;
  }
  &__open {
    width: 2rem;
    position: absolute;
    right: 0.1rem;
    bottom: 1%;
    @include tablet {
      bottom: 0%;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__title {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 0;
    @include desktop {
      font-size: 1.7rem;
    }
  }
  &__list {
    padding: 1rem;
    @include tablet {
      display: flex;
      gap: 1rem;
      margin-bottom: 0;
      padding-bottom: 0;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-direction: column;
      width: 100%;
      padding: 2rem;
    }
  }
  &__card {
    display: flex;
    position: relative;
    @include box-shadow;
    gap: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: $secondary-bg-color;
    @include tablet {
      width: 48%;
      height: 7rem;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__left {
    border-radius: 8px;
    width: 7rem;
    display: flex;
    align-items: center;
    background-color: $primary-text-color;
    @include tablet {
      justify-content: center;
    }
  }

  &__image {
    width: 7rem;
    height: auto;
    padding: 0.5rem;
    border-radius: 4px;
    @include tablet {
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 1rem;
  }

  &__name {
    @include text-style(0.8, 1.2, 600);
    margin: 0;
    padding-bottom: 1rem;
    color: $primary-accent-color;
    text-transform: capitalize;
  }
  &__employ {
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    color: $secondary-text-color;
  }
  &__channel {
    @include text-style(0.8, 1.2, 400);
    margin: 0;
    @include tablet {
      font-size: 0.9rem;
    }
  }
  &__button {
    color: $secondary-background-color;
    background-color: $secondary-bg-color;
    @include box-shadow;
    width: 10rem;
    border-radius: 4px;
    border: none;
    border-bottom: 4px;
    padding: 1rem;
    background-image: url("../../assets/icons/plus.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 90%;
    text-align: left;
  }
  &__display {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
