@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.job {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  border: $divider-line;
  @include tablet {
    padding-top: 2rem;
  }
  &__list {
    padding-bottom: 1rem;
    @include container;
    @include tablet {
      width: 60%;
    }
  }
  &__card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: $divider-line;
    border-radius: $border-radius;
    margin-top: 1rem;

    @include tablet {
      padding-left: 0;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__left {
    border-radius: 8px;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50%;

    @include tablet {
      width: 5rem;
      height: 5rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    @include text-style(0.8, 1.2, 600);
    margin: 0;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__channel {
    @include text-style(0.8, 1.2, 400);
    margin: 0;
    @include tablet {
      font-size: 0.9rem;
    }
  }
  &__button {
    color: $secondary-background-color;
    border-radius: $border-radius;
    width: 10rem;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    background-image: url("../../assets/icons/showMore.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 90%;
  }
}
