@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.register {
  margin: 0;
  &__wrapper {
    @include container;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    margin: 0;
  }
  &__text {
    text-align: center;
  }
  &__button {
    @include higher-button;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &__label {
    display: flex;
    padding: 1rem;
  }
  &__input {
    width: 100%;
    @include text-field;
  }
}
