@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.register {
  @include container;
  @include tablet {
    padding-top: 2rem;
  }
  &__card {
    &--buttons {
      @include tablet {
        display: flex;
        gap: 1rem;
      }
    }
  }
  &__select {
    color: black;
    font-size: 0.8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include background;
    @include container;
    position: relative;
    @include tb-padding(5, 5);
    border-radius: $border-radius;

    @include tablet {
      height: 20rem;
    }
    @include desktop {
      margin-bottom: 2rem;
    }
  }
  &__title {
    margin: 0;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    @include tablet {
      width: 40%;
    }
    &--span {
      color: $primary-background-color;
      padding-left: 0.6rem;
      text-transform: capitalize;
      position: absolute;
      font-size: 1.5rem;
      bottom: 73%;
      @include tablet {
        bottom: 63%;
        font-size: 1.8rem;
      }
    }
  }
  &__text {
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
  }
  &__button {
    @include primary-button;
    text-transform: uppercase;
    margin-top: 1rem;
    @include tablet {
      width: 8rem;
    }
  }

  &__label {
    display: flex;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    justify-content: center;
    width: 15rem;
    text-align: center;
  }
  &__description {
    @include tb-margin(2, 2);
    @include container;
    border: $divider-line;
    border-radius: $border-radius;
    @include tablet {
      margin-bottom: 3rem;
    }
  }
  &__input {
    width: 100%;
    @include text-field;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
