@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.register {
  padding-top: 2rem;
  font-family: "Hagrid";
  @include tablet {
    padding-top: 10rem;
  }
  &__wrapper {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    margin: 0;
    &--span {
      color: $secondary-background-color;
    }
  }
  &__text {
    text-align: center;
    line-height: 2rem;
  }
  &__button {
    @include primary-button;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &__label {
    display: flex;
    padding: 1rem;
  }
  &__input {
    width: 100%;
    @include text-field;
  }
}
