@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  @include tablet {
    display: flex;
    flex-direction: row;
    border: $divider-line;
    border-radius: $border-radius;
    background-color: $secondary-bg-color;
    @include box-shadow;
    padding: 2rem;
    height: 12.3rem;
    width: 18rem;
  }

  &__span {
    color: $primary-accent-color;
  }

  &__name {
    text-transform: capitalize;
    text-align: center;
    line-height: 2rem;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include tb-padding(1, 1);
  }

  &__wrap {
    width: 100%;
    @include background;
    padding: 0.2rem;
    border-radius: $border-radius;
    @include tablet {
    }
  }

  &__button {
    @include primary-button;
    background-image: url("../../assets/icons/upload.svg");
    background-repeat: no-repeat;
    border: $divider-line;
    border: none;
    background-size: 3.1rem;
    background-position: -5px;
    padding: 0.3rem;
  }
}
