@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user {
  @include desktop {
    display: flex;
  }
  &__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
    }
  }
  &__container {
    margin-bottom: 1rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }
    @include desktop {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      border: $divider-line;
    }
  }
  &__logout {
    @include primary-button;
    @include tablet {
      width: 20%;
    }
  }
}
