@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user {
  @include desktop {
    display: flex;
  }
  &__wrapper {
    @include container;
    @include flex-container(space-between, center);
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__container {
    margin-bottom: 1rem;
    @include tablet {
      display: flex;
      margin-bottom: 0;
      gap: 3rem;
      @include flex-container(center, center);

      padding: 2rem;
    }
    @include desktop {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      border: $divider-line;
    }
  }
  &__logout {
    @include primary-button;
    @include tablet {
      width: 20%;
    }
  }
}
