@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    text-decoration: none;
    color: $primary-accent-color;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
