@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  background-color: $secondary-bg-color;
  @include tb-padding(1, 1);
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem 2rem 0;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      justify-content: space-between;
    }
  }

  &__watermark {
    @include flex-container(center, center);
    cursor: pointer;

    @include tablet {
      width: 25%;
      height: 2rem;
      align-self: center;
      justify-content: flex-start;
    }
  }

  &__logo {
    width: 5rem;
    @include tablet {
      display: none;
    }
    &--tablet {
      display: none;

      @include tablet {
        display: flex;
        width: 12rem;
        margin-bottom: 1rem;
      }
    }
  }
}
